.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 1rem 2rem;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  line-height: 1;
  box-shadow: 0 60px 30px 10px var(--dark);
}

.titleSection {
  display: block;
  font-family: 'Chivo Mono', monospace;
}

.title {
  color: var(--primary);
}

.dot {
  color: var(--light);
}
