.hero {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  padding: 0 2rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.hero h2 {
  font-size: 3.5rem;
  line-height: 1;
}

.hero h3 {
  font-size: 1.5rem;
  font-family: 'Iceland', cursive;
  margin: 0;
  line-height: 1;
}

.hero img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.copy {
  z-index: 1;
}

.background {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media only screen and (min-width: 700px) {
  .hero h2 {
    font-size: 6rem
  }
  .hero h3 {
    font-size: 1.5rem
  }
}

@media only screen and (min-width: 1000px) {
  .hero h2 {
    font-size: 8rem
  }
  .hero h3 {
    font-size: 3rem;
  }
}
