:root {
  /* CSS HEX */
  --honolulu-blue: #0e79b2ff;
  --rose-red: #bf1363ff;
  --platinum: #d7d9d7ff;
  --shamrock: #499F68ff;
  --rich-black: #071013ff;
  --thanos-purple: #2c1e4aff;
  --nice-blue: #7276abff;
  

  --primary:var(--honolulu-blue);
  --secondary:var(--rose-red);
  --tertiary:var(--shamrock);
  --light:var(--platinum);
  --dark:var(--rich-black);
}