.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2rem;
  height: 100%;
  margin: 0;
  list-style: none;
  font-family: 'Chivo Mono', monospace;
  background: var(--dark);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 100px 20px 0 20px;
  transition: transform 0.3s ease-in-out;
  border-left: 1px solid var(--light)
}

.navItem {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: right;
  flex-direction: column;
}

.navItem a {
  background-image: linear-gradient(90deg,
    var(--light) 0%,
    var(--light) 50%,
    var(--primary) 50%,
    var(--primary) 100%);
  background-size: 200%;
  transition-delay: 0.0s, 0.15s;
  transition: background-position .3s cubic-bezier(.47, .1, 1, .63);
  display: block;
  background-clip: text;
  font-size: 1.25rem;
  color: transparent;
  white-space: nowrap;
}

.navItem a.active {
  background-image: linear-gradient(90deg,
    var(--secondary) 0%,
    var(--secondary) 50%,
    var(--primary) 50%,
    var(--primary) 100%);
}

.navItem a:hover {
  background-position: -100% 100%;
}

.index {
  font-size: 0.75rem;
  margin-bottom:0.25rem;
}

.hidden {
  transform: translateX(200px);
}

.mobileButton {
  display: flex;
  background: var(--dark);
  width: 50px;
  height: 50px;
  padding: 12px 10px;
  border: 1px solid var(--light);
  position: fixed;
  z-index: 10;
  top: 20px;
  right: 20px;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}

.mobileButtonLine {
  height: 1px;
  width: 100%;
  display: block;
  background: var(--light);
  transition: all 0.3s ease-in-out;
  transform-origin: 50% 50%;
}

[data-menu-visible="true"] .mobileButtonLine:not(:first-child):not(:last-child) {
  opacity: 0;
}
[data-menu-visible="true"] .mobileButtonLine:first-child {
  transform: rotate(45deg) translateX(8px) translateY(8px);
}
[data-menu-visible="true"] .mobileButtonLine:last-child {
  transform: rotate(-45deg) translateX(8px) translateY(-8px);
}

@media only screen and (min-width: 1000px) {
  .mobileButton {
    display: none;
  }

  .navList {
    flex-direction: row;
    background: none;
    height: auto;
    position: relative;
    justify-content: flex-end;
    padding: 0;
    border: none;
  }
  .hidden {
    transform: translateX(0px);
  }
}